.about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
    padding-top: 50px;
}

.about__img {
    width: 350px;
    border-radius: 10rem;
    justify-self: center;
}

.button {
    background-color: #C8102E;
    padding: 12px;
    border-radius: 12px;
}

.about__info {
    grid-template-columns: repeat(3, 140px);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}

.about__box {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.about_icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about-title {
    padding-top: 0px;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    
}

.about__subtitle {
    font-size: var(--tiny-font-size);
}

.about__description {
    padding: 3rem 2rem 0 0;
    /* margin-bottom: var(--mb-2-5); */
    text-align: justify;
    text-justify: inter-word;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.2s forwards;
    word-spacing: 1px; /* Adjust space between words */
    line-height: 1.5; /* Adjust line height for readability */
    width: 100%;
}

/* Adds a pseudo-element to stretch the last line */
.about__description::after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Word hover effect */
.word {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
    margin-right: 5px; /* Add space to prevent overlap */
}

.word:hover {
    transform: scale(1.2); /* Enlarge the word on hover */
    color:#C8102E; /* Change word color to red on hover */
}

/* Quote styling */
.quote {
    display: block; /* Ensures the quote starts on a new line */
    font-weight: 500; /* Makes the quote bold */
    margin-top: 1rem; /* Adds space above the quote */
}

.quote:hover{
    font-weight: bold;
    color:#C8102E;

}

/* Animation for fade-in effect */
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media screen and (max-width:992px) {
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__img {
        width: 220px;

    }

    .about__box {
        padding: 0.75rem 0.5rem;
    }

    .section__title,
    .section__subtitle,
    .about__data {
        text-align: center;
    }

    .about__info {
        justify-content: center;
    }

    .about__description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:576px) {
    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__description {
        padding: 0;
    }
}

@media screen and (max-width:350px) {
    .about__info {
        grid-template-columns: repeat(2, 1fr);
    }
}