.home__container{
    row-gap:7rem;
}

.home__content{
    grid-template-columns:116px repeat(2,1fr);
    padding-top:10rem;
    column-gap:2rem;
    align-items:center;
}

.home__social{
    display:grid;
    grid-template-columns:max-content;
    row-gap:1rem;
}

.home__social-icon{
    font-size:1.25rem;
    color: var(--title-color);
}

.home__social-icon:hover{
   color:var(--title-color-dark);
}
.home__title{
    font-size:var(--big-font-size);
    margin-bottom: var(--mb-0-25);
    
}
.home__img{
    background: url(../../assests//profile.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow:inset 0 0 0 9px rgb(255 255 255/30%);
    order:1;
    justify-self:center;
    width:300px;
    height:300px;
    animation:profile_animate 8s ease-in-out infinite 1s;

}

@keyframes profile_animate{
    0%{
        border-radius:30% 70% 70% 30% / 30% 30% 70% 70%
    }

    50%{
        border-radius:80% 60% 70% 40%/50% 60% 70% 40%;
    }
    100%{
        border-radius:30% 70% 70% 30% / 30% 30% 70% 70%;
    }


}
.home__scroll{
    margin-left:9.25rem;
    padding-top:6px;
}
.wheel{
    animation:scroll 2s ease infinite;
}

@keyframes scroll{
    0%{
        transform: translateY(0);
    }
    30%{
        transform:translateY(3.75rem);
    }

}

.home__scroll-name{
    color:var(--title-color);
    font-weight:var(--font-medium);
    margin-right:var(--mb-0-25);
    margin-left:2px;
}
.home__scroll-arrow{
    font-size:1.25rem;
    color:var(--title-color);
}

.home__subtitle{
    position:relative;
    font-size:var(--h2-font-size);
    /* padding-left: 5.4rem; */

    font-weight:var(--font-medium);
    margin-bottom:var(--mb-1);
}

.home__description{
    max-width:400px;
    margin-bottom:var(--mb-3);
}

.mainbutton{
    border-radius:12px;
}


/* for large devices */
@media screen and (max-width:992px){
   .home__content{
    grid-template-columns: 100px repeat(2,1fr);
    column-gap:0rem;
   }

   .home__subtitle{
    /* padding-left:3.75rem; */
    margin-bottom:var(--mb-1);
   }

   .home__subtitle:before{
    width:42px;
    top:0.8rem;
   }

   .home__description{
    max-width:initial;
    margin-bottom:var(--mb-2-5);
   }

   .home__img{
    width:250px;
    height:250px;
    box-shadow:inset 0 0 0 8px rgb(255 255 255/30%);
   }
   .home__scroll{
    margin-left:7.5rem;
   }
   
 }
 /* for medium devices */
 @media screen and (max-width:768px){
   .home__content{
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding-top:2rem;
    gap: 0.5rem !important;
   }
  
   .home__img{
    order:initial;
    justify-self:initial;
    box-shadow:inset 0 0 0 6px rgb(255 255 255 /30%);
    width:200px;
    height:200px;
    }
   

    .home__scroll{
        display:none;
    }
 }
 /* for small devices */
 
 @media screen and (max-width:350px){
   .container{
     margin-left: var(--mb-1);
     margin-right: var(--mb-1);
    }
    .home__img{
        width:180px;
        height:180px;
    }
}  
